<div id="<%= dom_id friend_app %>">
  <p>
    <strong>First Name:</strong>
    <%= friend_app.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= friend_app.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend_app.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend_app.phone %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= friend_app.linkedin %>
  </p>


</div>
